.Post {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    justify-content: center;
}

.comment-header {
    text-align: center;
}

.profile-header {
    text-align: left;
    padding-bottom: 10px;
}


.details {
    margin: 20px;
    text-align: center;
}

.comment {
    margin-top: 20px;
}

.comment-bar {
    margin-top: 20px;
    margin-bottom: 50px;
}

.source {
    font: italic;
    display: inline-block;
    text-align: left;
}

.profile-icon {
    margin-right: 5px;
}

.post-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 5px solid #555;
}

.sentence {
    padding-bottom: 20px;
}

.message {
    text-align: left;
}

button.link { 
    background:none;
    border:none; 
    color: black;
    font-weight: 500;
    margin-bottom: 5px;
    padding: 5px;
    padding-bottom: 0px;
    padding-top: 0px;
}

button.link:hover {
    color: darkgray;
    background-color:transparent !important;
    background:transparent!important;
    border: none !important;
    opacity: 1 !important;
}


.unselectable {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.unselectable:hover {
    filter: brightness(120%);
}

.image {
    height: 100%;
    width: 100%;
  }