.Post {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    justify-content: center;
}

.comment-header {
    text-align: center;
}

.profile-header {
    text-align: left;
    padding-bottom: 10px;
}


.details {
    margin: 20px;
    text-align: center;
}

.comment {
    margin-top: 20px;
}

.comment-bar {
    margin-top: 20px;
    margin-bottom: 50px;
}

.source {
    font: italic;
    display: inline-block;
    text-align: left;
}

.profile-icon {
    height:50px;
    width:50px;
}

.post-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.sentence {
    padding-bottom: 20px;
}

.message {
    text-align: left;
}


.unselectable {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.unselectable:hover {
    filter: brightness(120%);
}