.image {
  height: 100%;
  width: 100%;
}

.settingsForm 
{
    width: 100%;
    max-width: 350px;
    padding: 0px;
    margin: auto;
    padding-top: 10px;
}

.space 
{
    padding-top: 20px;
}

.settings-msg {
  margin-top: 10px;
}