.uploadForm 
{
    width: 100%;
    max-width: 350px;
    padding: 0px;
    margin: auto;
    padding-top: 20px;
}

.button-right{
  display:flex;
  justify-content: flex-end;
  padding: 20px;
  }

.image {
  height: 100%;
  width: 100%;
}