.uploadForm 
{
    width: 100%;
    max-width: 600px;
    padding: 0px;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 15px;
}

.button-right{
  width: 100%;
  max-width: 350px;
  margin: auto;
  padding-top: 20px;
  display:flex;
  justify-content: flex-end;
  padding: 0px;
  }

.image {
  height: 100%;
  width: 100%;
}

.custom-color {
  content: 'Select some files';
  display: inline-block;
  background: green;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
