
.Profile {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    justify-content: center;
}

.Profile-header {
    text-align: center;
}

.Profile-icon {
    height:200px;
    width:200px;
}

.Profile-details{
    text-align: center;
}

.Username {
    text-align: center;
}

.Bio {
    text-align: center;
    padding: 10px;
}

.Profile-Posts{
    justify-content: center;
    padding: 20px;
}

.Profile-Stats {
    margin-top: 20px;
}

.Stats-header {
    text-align: center;
}

.score{
    -webkit-animation: color-change 2s infinite;
    -moz-animation: color-change 2s infinite;
    -o-animation: color-change 2s infinite;
    -ms-animation: color-change 2s infinite;
    animation: color-change 2s infinite;
}

@-webkit-keyframes color-change {
    0% { color: red; }
    20% { color: orange; }
    50% { color: yellow; }
    50% { color: green; }
    100% { color: blue; }
}
@-moz-keyframes color-change {
    0% { color: red; }
    20% { color: orange; }
    50% { color: yellow; }
    50% { color: green; }
    100% { color: blue; }
}
@-ms-keyframes color-change {
    0% { color: red; }
    20% { color: orange; }
    50% { color: yellow; }
    50% { color: green; }
    100% { color: blue; }
}
@-o-keyframes color-change {
    0% { color: red; }
    20% { color: orange; }
    50% { color: yellow; }
    50% { color: green; }
    100% { color: blue; }
}
@keyframes color-change {
    0% { color: red; }
    20% { color: orange; }
    50% { color: yellow; }
    50% { color: green; }
    100% { color: blue; }
}

